<div id="body" class="container mt-3 mb-3">
			<h2>Registration Form</h2>
	<div class="row">
			<form>
				<div class="form-group custom-bottom-margin">
					<label class="control-label" for="name">First Name</label>
					  <input type="text" name="first_name" class="form-control"  placeholder="Enter First name" id="fname">
				</div>
				<div class="form-group custom-bottom-margin">
					<label class="control-label text-right" for="name">Last Name</label>
					  <input type="text" name="last_name" class="form-control"  placeholder="Enter Last name" id="lname">
				</div>
				<div class="form-group custom-bottom-margin">
					<label class="control-label text-right" for="email">Email</label>
					  <input type="email" name="email" class="form-control" placeholder="Enter email" id="email">
				</div>
				<div class="form-group custom-bottom-margin">
					<label class="control-label col-sm-4 text-right" for="confirm_email">Password</label>
					  <input type="password" class="form-control" placeholder="password" id="confirm_email">
				</div>
				<div class="form-group custom-bottom-margin">
					<label class="control-label text-right" for="password">Confirm Password</label>
					<div>
					  <input type="password" name="password" class="form-control" placeholder="confirm password" id="password">
					</div>
				</div>
				<div class="form-group custom-bottom-margin">
					<label class="control-label text-right" for="phone">Phone</label>
					<div>
					  <input type="text" name="phone" class="form-control" placeholder="Enter phone" id="phone">
					</div>
				</div>
				<div class="form-group custom-bottom-margin">
					<label class="control-label text-right"></label>
					<div>
            <button class="btn btn-primary" type="submit"> Submit</button> &nbsp;
            <button class="btn btn-danger">clear</button>
					</div>
				</div>
			</form>
		</div>
	</div>
