<div class="container-fluid bg">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <form class="form-container">
        <h3 style="text-align: center;">LOGIN FORM</h3>
        <div class="form-group">
          <label>Email:</label>
          <input type="email" name="email" class="form-control" placeholder="Email" required="">
        </div>
        <div class="form-group">
          <label>Password:</label>
          <input type="password" name="pass" class="form-control" placeholder="Password" required="">
        </div>
        <div class="checkbox"><label><input type="checkbox">Remember Me
          </label>
        </div>
        <input type="submit" class="btn btn-success btn-block" name="submit"><br>
        <a>New user Register</a>
        <div>

        </div>
      </form>
    </div>
  </div>

  </div>
