.form-container
{
  position: relative;
  top:2vh;
  background: #ffff;
  padding: 30px 30px 30px 30px;
  border-radius:10px;
  box-shadow: 0px 0px 10px 0px #000;
}
body {
background-size: cover;
height: 99vh;
}
