<section class="container-fluid d-flex align-items-center justify-content-center">
  <section class="row">
    <section class="col-12 col-md-12">
      <form action="feedback.php" method="POST" class="form-container" style="width:500px; margin:auto">
        <h3 style="text-align: center;">Status</h3>
        <div class="container-sm">

          <div class="form-group">
            <label for="post"></label>
            <input type="text" class="form-control" placeholder="Ad" name="ad" required>Ad

            <label for="post">Status</label>
            <input type="text" class="form-control" placeholder="Status" name="status" required>

            <label for="post">Reason</label>
            <input type="text" class="form-control" placeholder="Reason" name="reason">


            <button type="submit" class="btn btn-primary m-2" name="save">Submit</button>
            <button type="reset" class="btn btn-primary m-2" name="reset">Request</button>
            <br><br>

            <label for="post">Event</label>
            <input type="text" class="form-control" placeholder="Event" name="event" required>

            <label for="post">Status</label>
            <input type="text" class="form-control" placeholder="Status" name="status1" required>
            <button type="reset" class="btn btn-primary mt-2" name="reset">Request
            </button>


          </div>
        </div>
      </form>
    </section>
  </section>
</section>
