<div class="body container-sm">
  <form class="form-container" style="width:500px; margin:auto">
    <h3 style="text-align: center;">Request add</h3><br>
      <div class="container-sm">
          <label for="Browse" style="
          font-size-adjust: 2005">Browse add : </label>
          <input type="file" id="n1" name="n1" required />


           <label for="post">Discription</label>
           <textarea type="textarea" class="form-control" placeholder="e.g. This is for seeker" rows="4" cols="50"name="n1" required></textarea><br>

           <button type="submit" class="btn btn-primary">Request ad</button>
      </div>
  </form> &nbsp; &nbsp;

      <form class="form-container mb-4" style="width:500px; margin-left:70px">
        <h3 style="text-align: center;">Request event</h3><br>
      <div class="container-sm">
          <label for="Browse event">Browse Event : </label>
          <input type="file" pattern="[789][0-9]{9}" name="n5" required>

          <label for="post">Discription</label>
           <textarea type="textarea" class="form-control" placeholder="e.g. This is for seeker" rows="4" cols="50"name="n1" required></textarea><br>
          <button type="submit" class="btn btn-primary">Request event</button>
      </div>
  </form>
</div>
