<section class="container-fluid d-flex align-items-center justify-content-center">
  <section class="row">
    <section class="col-12 col-md-12">
      <form action="feedback.php" method="POST" class="form-container" style="width:500px; margin:auto">
        <h3 style="text-align: center;">Search Resume</h3>
        <div class="container-sm">
          <div class="form-group">
            <label for="post">Search Resume</label>
            <select class="form-control" name="srchrsm">
              <option>Freshers</option>
              <option>Experiance</option>
              <option>Location</option>
            </select>
            <table class="table mt-3">
              <thead class="thead-dark">
                <tr>
                  <th>Eid</th>
                  <th>Name</th>
                  <th>View</th>
                  <th>Download</th>
                  <th>Notify</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>shivani</td>
                  <td><a href="#">View</a></td>
                  <td><a href="#">Download</a></td>
                  <td><a href="#">Notify</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </section>
  </section>
</section>
